*
!.gitignore
!.gitattributes
!*.cs
!*.xaml
!*.csproj
!*.sln
!*.json
bin/
obj/
chat_app/.vs/chat_app/copilot-chat/3eef4842/sessions/3b97067e-9d30-4e90-8407-8eb131630a90
/chat_app/.vs
/chat_app/bin
/chat_app/obj
